body {
	width: fit-content;
	margin: auto;
}

body.loading {
	cursor: progress;
}

h1 {
	text-align: center;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

label {
	display: block;
}

nav {
	margin-top: 2em;
	text-align: center;
}


dialog h2 {
	margin-top: 0;
}
dialog output {
	display: block;
	margin-bottom: 1em;
}
dialog button {
	margin-top: 1em;
	float: right;
}